certifi==2017.11.5        # via requests
chardet==3.0.4            # via requests
croniter==0.3.20          # via -r requirements.in
dj-database-url==0.4.2    # via -r requirements.in, django-heroku-postgresify
django-appconf==1.0.2     # via django-compressor
django-compressor==2.2    # via -r requirements.in
django-heroku-postgresify==0.4  # via -r requirements.in
django-herokuify==1.0rc3  # via -r requirements.in
django==1.11.29           # via -r requirements.in, django-heroku-postgresify
gunicorn==19.7.1          # via -r requirements.in
idna==2.6                 # via requests
psycopg2==2.7.3.2         # via -r requirements.in
python-dateutil==2.6.1    # via croniter
pytz==2017.3              # via -r requirements.in, django
rcssmin==1.0.6            # via django-compressor
requests==2.18.4          # via -r requirements.in
rjsmin==1.0.12            # via django-compressor
six==1.11.0               # via python-dateutil
urllib3==1.22             # via requests
whitenoise==3.3.1         # via -r requirements.in
