certifi==2017.11.5        # via requests
chardet==3.0.4            # via requests
croniter==0.3.20
dj-database-url==0.4.2
django-appconf==1.0.2     # via django-compressor
django-compressor==2.2
django-heroku-postgresify==0.4
django-herokuify==1.0rc3
django==1.11.23
gunicorn==19.7.1
idna==2.6                 # via requests
psycopg2==2.7.3.2
python-dateutil==2.6.1    # via croniter
pytz==2017.3
rcssmin==1.0.6            # via django-compressor
requests==2.18.4
rjsmin==1.0.12            # via django-compressor
six==1.11.0               # via python-dateutil
urllib3==1.22             # via requests
whitenoise==3.3.1
